<section class="recipe-cards">
    <div id="recipes-container">
        
    </div>
       

    {{#each recipes as |recipe|}}
    <div class="card">
        <div class="card-img">
            <img src={{recipe.image}} alt="receipe-image" />
            <div class="card-body">
                <h3>{{recipe.title}}</h3>
                <h5>Ingredients</h5>
                <p>{{{breaklines recipe.ingredient}}}</p>
                <h5>Instructions</h5>
                <p>{{{breaklines recipe.instruction}}}</p>
            </div>
        </div>
    </div>
    {{/each}}

    <div class="cardSection">
            <div class="cardHolders">
                
                <h2>Comments</h2>  
  
  <section>

            {{#each comments as |comment|}}
            <div>
            <div>
                <span>{{user.username}} on {{formatDate created_at}} wrote:</span>
            </div>
            <div>
                {{comment_text}}
            </div>
            </div>
            {{/each}}
  </section>



            </div>
    </div>

</section>

<script src="/javascript/main.js"></script>
