<section class="recipe-cards">
    <div id="recipes-container">
        
    </div>

    <h1>is this page rendering</h1>

    <div class="card">
        <div class="card-img">
            <img src={{recipe.image}} alt="receipe-image" />
            <div class="card-body">
                <h3>{{recipe.title}}</h3>
                <h5>Ingredients</h5>
                {{!-- <p>{{{breaklines recipe.ingredient</p> --}}
                <p>{{{recipe.ingredient}}}</p>
                <h5>Instructions</h5>
                {{!-- <p>{{{breaklines recipe.instruction</p> --}}
                <p>{{{recipe.ingredient}}}</p>
            </div>
        </div>
    </div>

    

</section>

{{#if loggedIn}}
<script src="/assets/javascript/comment.js"></script>
{{/if}}